.about {
    padding-top: 85px;
    padding-bottom: 75px;
    overflow: hidden;
}

.about__title {
    margin-bottom: 53px;
}

.about__list {
    @include reset-list;
}

.about__item {
    display: flex;
    align-items: center;
    margin-bottom: 45px;

    &:last-child {
        margin-bottom: 0;
    }
}

.about__icons {
    position: relative;
    flex-shrink: 0;
    width: 296px;
    margin-right: 20px;
    margin-left: auto;
    
    &--market {
        height: 94px;
    }

    &--plants {
        height: 104px;
    }

    &--employees {
        height: 103px;
    }

    &--top {
        height: 105px;
    }

    &--export {
        height: 96px;
    }

    &--service {
        height: 103px;
    }
}

.about__year {
    position: absolute;
    top: 31px;
    left: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 51px;
    font-size: 21px;
    text-align: center;
    color: #0a61ad;
}

.about__icon-1,
.about__icon-2,
.about__icon-3 {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.about__icon-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__icon-2 {
    margin-left: -35px;
    transition: opacity .3s ease-in,
                margin .3s ease-in;
}

.about__icon-3 {
    margin-right: -55px;
    transition: opacity .3s ease-in .7s,
                margin .3s ease-in .7s;
}

.about__icon-2,
.about__icon-3 {
    opacity: 0;

    .about__item--end-animation-slide & {
        opacity: 1;
        margin: 0;
    }
}

/***** about__icon-1 *****/
.about__icon-1--market {
    width: 104px;
    height: 94px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-1-market.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-1-market.webp");
    }
}

.about__icon-1--plants {
    top: auto;
    bottom: 0;
    left: 98px;
    width: 92px;
    height: 104px;
    transform: none;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-1-plants.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-1-plants.webp");
    }
}

.about__icon-1--employees {
    left: 77px;
    width: 107px;
    height: 69px;
    transform: translate(0, -50%);

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-1-employees.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-1-employees.webp");
    }
}

.about__icon-1--top {
    width: 105px;
    height: 105px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-1-top.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-1-top.webp");
    }
}

.about__icon-1--export {
    width: 196px;
    height: 96px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-1-export.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-1-export.webp");
    }
}

.about__icon-1--service {
    width: 103px;
    height: 103px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-1-service.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-1-service.webp");
    }
}

/***** about__icon-2 *****/
.about__icon-2--plants {
    bottom: 0;
    left: 0;
    width: 98px;
    height: 98px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-2-plants.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-2-plants.webp");
    }
}

.about__icon-2--employees {
    bottom: 0;
    left: 0;
    width: 68px;
    height: 100px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-2-employees.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-2-employees.webp");
    }
}

.about__icon-2--top {
    top: 50%;
    left: 50%;
    width: 105px;
    height: 105px;
    margin: -10px 0 0 0;
    background-image: url("img/bg/about-icon-2-top.svg");
    transform: translate(-50%, -50%);

    .about__item--end-animation-slide & {
        margin: 0;
    }
}

.about__icon-2--service {
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -10px 0 0 0;
    background: url("img/bg/about-icon-2-service.svg") no-repeat 0 0;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(10, 97, 173, .9);
    transform: translate(-50%, -50%);

    .about__item--end-animation-slide & {
        margin: 0;
    }
}

/***** about__icon-3 *****/
.about__icon-3--plants {
    right: 0;
    bottom: 0;
    width: 106px;
    height: 100px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-3-plants.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-3-plants.webp");
    }
}

.about__icon-3--employees {
    right: 0;
    bottom: 0;
    width: 103px;
    height: 103px;

    .no-js &,
    .no-webp & {
        background-image: url("img/bg/about-icon-3-employees.png");
    }

    .webp & {
        background-image: url("img/bg/about-icon-3-employees.webp");
    }
}

.about__text {
    width: 570px;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.388889em;
    color: #0a61ad;
}

.about__map-marker {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: url("img/bg/map-marker.svg") no-repeat 0 0;
    background-size: contain;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in;

    .about__item--end-animation-slide & {
        opacity: 1;
    }

    &--1 {
        top: 13px;
        left: 72px;
    }

    &--2 {
        top: 14px;
        left: 88px;
        transition-delay: 0.2s;
    }

    &--3 {
        top: 27px;
        left: 83px;
        transition-delay: 0.4s;
    }

    &--4 {
        top: 65px;
        left: 108px;
        transition-delay: 0.6s;
    }

    &--5 {
        top: 3px;
        left: 118px;
        transition-delay: 0.8s;
    }

    &--6 {
        top: 39px;
        left: 142px;
        transition-delay: 1s;
    }

    &--7 {
        top: 56px;
        left: 158px;
        transition-delay: 1.2s;
    }

    &--8 {
        top: 14px;
        left: 176px;
        transition-delay: 1.4s;
    }

    &--9 {
        top: 23px;
        left: 184px;
        transition-delay: 1.6s;
    }

    &--10 {
        top: 14px;
        left: 200px;
        transition-delay: 1.8s;
    }

    &--11 {
        top: 32px;
        left: 199px;
        transition-delay: 2s;
    }
}

@media screen and (max-width: 1260px) {
    .about__icons {
        margin-left: 0;
    }

    .about__text {
        flex-grow: 1;
        width: auto;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .about__item {
        display: block;
    }

    .about__icons {
        margin: 0 auto 15px;
    }

    .about__text {
        text-align: center;
    }
}
