.certificates {
    padding-top: 85px;
    padding-bottom: 75px;
}

.certificates__title {
    margin-bottom: 55px;
}

.certificates__subtitle {
    margin-bottom: 90px;
    font-size: 25px;
    line-height: 1.25em;
    text-align: center;
    letter-spacing: 0.025em;
    color: #0067c1;
}

.certificates__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
}

.certificates__item {
    margin-right: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-child(n + 4) {
        margin-top: 30px;
    }
}

.certificates__img {
    object-fit: cover;
    object-position: center;
    width: 370px;
    height: 524px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 1260px) {
    .certificates__item {
        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(3n) {
            margin-right: 30px;
        }

        &:nth-child(n + 3) {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .certificates__list {
        flex-direction: column;
        align-items: center;
    }

    .certificates__item {
        margin-right: 0;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n + 2) {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 400px) {
    .certificates__img {
        width: 100%;
        height: auto;
    }
}