.form {

}

.form__list {
    @include reset-list;

    margin-bottom: 15px;
}

.form__item {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.form__field-box {
    position: relative;
    margin-bottom: 0;
}

.form__label {
    cursor: pointer;
}

.form__field {

}

.form__icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    color: #fff;
}

.form__icon path {
    transition: all .15s ease;
}

.form__field.error ~ .form__icon {
    color: #333333;
}

.form__button {

    &:focus {
        outline: none;
    }

    &:disabled,
    &[disabled] {
        color: #666666;
        background: #fefefe;
        background: linear-gradient(to bottom, #fefefe 0%,#d1d1d1 49%,#dbdbdb 50%,#e2e2e2 100%);
        box-shadow: none;
        cursor: pointer;
    }
}
