.guarantee {
    padding: 115px 0;
    background-color: #fbfbfb;
}

.guarantee__box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 69px 28px 45px 60px;
    border: 2px solid #0a61ad;
    border-radius: 10px;
}

.guarantee__body {
    width: 645px;
}

.guarantee__text {
    margin-bottom: 78px;
    line-height: 1.714286em;
    color: #333333;
}

.guarantee__text p {
    margin: 20px 0;
}

.guarantee__text strong {
    font-weight: 600;
    font-size: 18px;
    color: #0a61ad;
}

.guarantee__title {
    font-size: 25px;
    line-height: 1.25em;
    color: #0961ad;
}

.guarantee__text *:first-child {
    margin-top: 0;
}

.guarantee__text *:last-child {
    margin-bottom: 0;
}

.guarantee__img-box {
    margin-left: auto;
}

.guarantee__img {
    margin-bottom: 70px;
}

@media screen and (max-width: 1260px) {
    .guarantee__body {
        position: relative;
        z-index: 2;
        width: 100%;
    }

    .guarantee__img-box {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        margin-top: -180px;
        margin-left: -146px;
    }

    .guarantee__img {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .guarantee__box {
        padding-left: 30px;
    }
}
