.info-window {
    width: 185px;
}

.info-window strong {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #005baa;
}

.info-window p {
    margin-top: 0;
    margin-bottom: 10px;
}

.info-window a {
    font-weight: 700;
    color: #0a61ad;
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover {
        text-decoration: none;
        color: #000;
    }
}
