.review {
    padding-top: 85px;
    padding-bottom: 145px;
    overflow: hidden;
}

.review__title {
    margin-bottom: 80px;
    font-weight: 800;
}

.review__title span {
    font-weight: 600;
}
