.sidenav {
    position: fixed;
    z-index: 5;
    top: 50px;
    bottom: 0;
    left: -310px;
    width: 310px;
    max-height: calc(100vh - 50px);
    padding: 25px 0;
    overflow-y: auto;
    background-color: #fff;
    visibility: hidden;
    transition: all .4s cubic-bezier(.25, .8, .25, 1);

    .show-main-nav & {
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2),
                    0 16px 24px 2px rgba(0, 0, 0, .14),
                    0 6px 30px 5px rgba(0, 0, 0, .12);
        visibility: visible;
        left: 0;
    }

}

.sidenav__list {
    @include reset-list;
}

.sidenav li {
    
}

.sidenav a {
    display: block;
    padding: 10px 15px;
    font-size: 19px;
    color: #000;

    &:hover,
    &:focus {
        text-decoration: none;
        background: rgba(0, 0, 0, .04);
    }
}
